@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primario: #06092b;
  --color-secundario: #64D7EA;
  --color-fuente: #FAFAFA;
}

body {
  background-color: var(--color-primario);
  font-family: "Roboto", sans-serif;
}

.bg-contraste {
  background-color: var(--color-secundario);
}

.text-oscuro {
  color: var(--color-primario);
}

.navbar {
  color: var(--color-primario);
}

.navbar-brand {
  background-color: #06092b;
  border-radius: 5px;
  width: 60px;
  height: 70px;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

h1, h2, h3, p {
  color: var(--color-fuente);
}

.accordion-item p {
  color: var(--color-primario);
}

.accordion-body {
  overflow: hidden;
}

.robot-ciberseguridad {
  max-width: 350px;
}

.titulo-secundario {
  font-size: 1.25rem;
}

.color-nav {
  color: white;
}

.footer p {
  color: var(--color-primario);
}

strong {
  color: var(--color-secundario);
}

/* Sobre escritura de las clases de bootstrap */
.nav-link {
  color: var(--color-fuente);
  font-weight: 400;
}

.navlink:hover {
  color: var(--color-primario);
}

.nav-link.nav-link.active {
  color: var(--color-fuente);
  font-weight: 600;
  text-decoration: underline;
}

.nav-link.active:hover {
  color: var(--color-primario);
}

@media screen and (min-width: 768px) {
  .item1 {
    height: 350px;
  }

  .item2-boton {
    height: 75px;
  }
}