/* Documento general */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-primario: #06092b;
  --color-secundario: #64D7EA;
  --color-fuente: #FAFAFA;
}

body {
  background-color: var(--color-primario);
  font-family: "Roboto", sans-serif;
}

.bg-contraste {
  background-color: var(--color-secundario);
}

.text-oscuro {
  color: var(--color-primario);
}

h1, h2, h3, p {
  color: var(--color-fuente);
}

.titulo-secundario {
  font-size: 1.25rem;
}

/* Navbar */
.navbar {
  color: var(--color-primario);
}

.navbar-brand {
  background-color: #06092b;
  border-radius: 5px;
  width: 60px;
  height: 70px;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
}

.nav-link {
  color: var(--color-fuente);
  font-weight: 400;
}

.navlink:hover {
  color: var(--color-primario);
}

.nav-link.nav-link.active {
  color: var(--color-fuente);
  font-weight: 600;
  text-decoration: underline;
}

.nav-link.active:hover {
  color: var(--color-primario);
}

/* Footer */
.footer {
  padding: 2rem 0 1.5rem;
}

.footer p {
  color: var(--color-primario);
}

/* Fuente */
.titulo-secundario {
  font-size: 1.5rem;
}

.fuente h3 {
  font-size: 1.25rem;
}

.fuente a {
  text-decoration: none;
  color: var(--color-fuente);
}

.fuente a:hover {
  color: var(--color-secundario);
  font-weight: 600;
}

hr {
  color: var(--color-fuente);
}

/* Página introducción */
.robot-ciberseguridad {
  max-width: 350px;
}

strong {
  color: var(--color-secundario);
}

/* Página Amenazas */
.accordion-item p {
  color: var(--color-primario);
}

.item1 .accordion-button {
  background-color: var(--color-secundario);
}

/* Página Consejos */
.listado-consejos {
  color: var(--color-fuente);
}

ul li ul li {
  margin-bottom: 0.5rem;
}

.quiz-intro {
  color: var(--color-primario);
}

.form-check-input:checked {
  background-color: var(--color-secundario);
  border-color: var(--color-secundario);
}

label {
  color: var(--color-primario);
}

.boton-contacto {
  background-color: var(--color-primario);
  color: var(--color-fuente);
}

@media screen and (min-width: 768px) {
  /* Página consejos */
  .item1 {
    height: 350px;
  }

  .item2 {
    height: 312px;
  }

  .item2-boton {
    height: 75px;
  }
}